body {
  background-color: #3d3d46;
}
.wrapper {
  width: 50%;
  margin: 4rem auto;
}
.wrapper dl {
  margin: 0;
}
.wrapper dl > dt {
  font-size: 24px;
  padding: .5em 1.2rem;
  background-color: #094681;
  color: #e4f1fe;
  cursor: pointer;
}
.wrapper dl > dd {
  background-color: #e0e0e0;
  color: #1c2833;
  padding: 1rem;
  margin-left: 0;
  line-height: 1.6em;
}
.wrapper dl > p {
  position: absolute;
  right: 26%;
  cursor: pointer;
  i {
    color: white;
  }
}

.button {
  margin: 0 72.5%;
  position: absolute;
  top: 2rem;
}
.button  .sort  > i {
  color: white;
  cursor: pointer;
}
